@charset "utf-8";
/* A3P1 Anthony Mantz */
h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #9C3;
}
p {
	font-size: 14px;
	color: #666;
	line-height: 120%;
}
ul {
	font-size: 14px;
	color: #666;
	line-height: 150%;
}
h2 {
	font-size: 18pt;
	color: #339900;
	text-transform: uppercase;
	letter-spacing: 5px;
	border-width: 0px 0px 0px 18px;
	border-left-style: solid;
	border-left-color: #006600;
	padding-left: 9px;
}
.copyright {
	font-size: 10pt;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	background-color: #EEFFEE;
}
body {
	background-color: #E0F0E4;
	color: #003300;
	margin-right: 25%;
	margin-left: 25%;
}
ul li strong {
	color: #003300;
}
a:link {
	color: #003300;
}
a:hover {
	color: #CC6600;
}
